body{
    background: rgb(91, 114, 144);
    text-align: center;
    color: bisque;
}
.traffic{
    height : 300px;
    background: rgb(9, 9, 9);
    width:100px;
    border-radius: 20px;
    margin: 0 auto;
    margin: auto;
    padding-top: 10px;
}
.light{
    background: rgb(239, 237, 237);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: auto;
    margin-top: 7px;
    padding:10px;
}
.red.active{
    background: red;
}
.yellow.active{
    background: yellow;
}
.green.active{
    background: green;
}